body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Montserrat", "League Gothic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
html {
  height: 100%;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Montserrat";
  scroll-behavior: smooth;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.semi-bold {
  font-weight: 600;
}
.bg {
  background-size: 100%;
  background-repeat: no-repeat;
}
